{% extends 'base-admin.html.twig' %}
{% block title %}Modifier Timeline
{% endblock %}

{% block body %}
	<h1>Modifier Timeline</h1>
	<a href="{{ path('admin_timeline_index') }}" class="btn btn-secondary">Retourner à la liste</a>

	{{ form_start(form) }}
	{{ form_row(form.title) }}
	{{ form_row(form.description) }}
	{{ form_row(form.dateActu) }}

	<div class="row">
		{% if timeline.photos is not null and timeline.photos|length > 0 %}
			{# Champs de photos de l'actualité s'ils existent #}
			{% for photo in timeline.photos %}
				<div class="col-md-6 d-flex flex-column justify-content-between align-items-stretch p-1">
					<div class="text-end">
						{# Le coix pour supprimer la photo qui envoie son id au path 'remove-photo' #}
						<a href="{{ path('remove-photo', {"id": photo.id})}}" class="text-dark p-1">
							<i class="close-icon" data-feather="x-circle" title="Supprimer"></i>
						</a>
					</div>
					<img src="{{asset('images/timeline/' ~ photo.imageName)}}" alt="{{timeline.title}}" class="p-1 img-fluid">
					{{ form_row(form["photos"][loop.index0]["imageFile"]) }}
				</div>
			{% endfor %}
		{% else %}
			{# S'ils n'existent pas il y aura un seule champ #}
			<ul class="photos" data-index="{{ form.photos|length > 0 ? form.photos|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.photos.vars.prototype)|e('html_attr') }}">
				<li>{{ form_row(form.photos) }}</li>
			</ul>
		{% endif %}
		{# Champ nouvelle image #}
		<ul class="photos" data-index="{{ form.photos|length > 0 ? form.photos|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.photos.vars.prototype)|e('html_attr') }}"></ul>
	</div>

	{# Bouton d'ajout #}
	<button type="button" class="add_item_link btn btn-success mb-2" data-collection-holder-class="photos">Add a photo</button><br>
	<button class="btn btn-primary mb-2">{{ button_label|default('Sauvegarder') }}</button>
	{{ form_end(form) }}

	{{ include('admin_timeline/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}

	<script>
		// Création du nouvel li
const addFormToCollection = (e) => {
const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
const item = document.createElement('li');
item.innerHTML = collectionHolder.dataset.prototype.replace(/__name__/g, collectionHolder.dataset.index);
collectionHolder.appendChild(item);
collectionHolder.dataset.index ++;
addTagFormDeleteLink(item);
};

document.querySelectorAll('.add_item_link').forEach(btn => {
btn.addEventListener("click", addFormToCollection)
});
// Création du bouton "Delete"
const addTagFormDeleteLink = (item) => {
const removeFormButton = document.createElement('button');
removeFormButton.className = "btn btn-danger";
removeFormButton.innerText = 'Delete this photo';

item.append(removeFormButton);

removeFormButton.addEventListener('click', (e) => {
e.preventDefault();
// Suppression du li
item.remove();
});
}
document.querySelectorAll('ul.tags li').forEach((photo) => {
addTagFormDeleteLink(photo)
})
	</script>

{% endblock %}
