{% extends 'base-admin.html.twig' %}

{% block title %}Reservations{% endblock %}

{% block body %}
    <h1>Reservations</h1>
    <a href="{{ path('admin_reservation_new') }}" class="btn btn-warning">Nouveau</a> 

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Telephone</th>
                <th>Jour</th>
                <th>Heure</th>
                <th>Personnes</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.name }}</td>
                <td>{{ reservation.email }}</td>
                <td>{{ reservation.jour|date('d-m-Y')}}</td>
                <td>{{ reservation.heure }}</td>
                <td>{{ reservation.personnes }}</td>
                <td class="text-end">
                    <a href="{{ path('admin_reservation_show', {'id': reservation.id}) }}" class="btn btn-primary"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('admin_reservation_edit', {'id': reservation.id}) }}" class="btn btn-success"><i class="align-middle" data-feather="edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
