{% extends 'base-admin.html.twig' %}

{% block title %}Carousel{% endblock %}

{% block body %}
    <h1>Carousel</h1>
    <a href="{{ path('admin_carousel_index') }}" class="btn btn-secondary">Retourner à la liste</a>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carousel.id }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ carousel.imageName }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ carousel.updatedAt ? carousel.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>


    <a href="{{ path('admin_carousel_edit', {'id': carousel.id}) }}" class="btn btn-success"><i class="align-middle" data-feather="edit"></i></a>

    {{ include('admin_carousel/_delete_form.html.twig') }}
{% endblock %}
