{% extends 'base-admin.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Commandes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th class="text-center">Date</th>
                <th class="text-center">Infos</th>
                <th class="text-center">Terminé ?</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td class="text-center">{{ commande.createdAt ? commande.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                <td class="text-center">{{ commande.delivery|raw }}</td>
                <td class="text-center">{{ commande.isPaid ? '<i class="align-middle text-success" data-feather="check"></i>': '<i class="align-middle text-danger" data-feather="x"></i>' }}</td>
                <td class="text-end">
                    <a href="{{ path('admin_commande_show', {'id': commande.id}) }}" class="btn btn-primary"><i class="align-middle" data-feather="eye"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune entrée trouveé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
